
    <div class="container">
     <div classs="row" style="text-align: center; Margin-top: 5%;">
          <h3>[title]</h3>
      </div>  
      <form id="form1" name="form1" style="padding-top: 2%; width: 75%; margin-left: 3%; margin-top: 1%;"> 
         <!-- The requested server opertion -->
         <input type="hidden" id="opcode" name="opcode"/>
         <!-- The table being edited -->
         <input type="hidden" id="table" name="table" value="[table]"/>
         <!-- The column to do readby on -->
         <input type="hidden" id="readbycolumn" name="readbycolumn" value="[readbycolumn]"/>

         <!-- The DB table record PK - id -->
         <input type="hidden" id="id" name="id"/>